<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Landing Page EJS</title>
	</head>
	<body>
		<form name="Landing Page" method="post" action="post_login">
			<br>	
			First name:
			<input type="text" id="firstname" name="firstname">
			Last name:
			<input type="text" id="lastname" name="lastname">
			<br><br>
			<input type="submit" value="Login">
		</form>
	</body>
</html>